{% extends 'base.html' %}

{% block title %}  All Tasks {% endblock title %} 

{% block content %} 

<div class="col-8 mt-5">
    <form class="form-inline justify-content-center" id="createTask" method="POST" data-url="{% url 'task_list'%}">
        {% csrf_token %}
        {% for field in form %}
            <div class="mx-3">
                {{ field }}
            </div>
        {% endfor %}
        <button type="button" class="btn btn-outline-success" id="createButton">Create</button>
    </form>
</div>

<div class="col-5 mt-5" id="taskList">
    {% for task in all_task %}
        <div class="card mb-1">
            <div class="card-body">
                {{ task.title }}
                <button type="button" class="close float-right">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock content %} 


{% comment 'rendering-form-alternative' %}
    {{ form.as_p }}
{% endcomment %}